ul {
    list-style-type: none;
    width: 100%;
}

ul li {
    height: 100%;
    margin-top: 1em;
}

 ul li a {
    text-decoration: none;
    padding: 1em;
    height: 100%;
    vertical-align: middle;
}

ul li span.icon {
    margin-left: 10px;
}

li a:hover {
    color: #fff;
    background-color: rgb(46, 113, 212);
}