.nav {
    box-shadow: 0 0 2px 2px gray;
    height: 55px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
}

.nav ul li {
    height: 100%;
    width: 33%;
}

.nav ul li a {
    text-decoration: none;
    padding: 1em;
    height: 100%;
    vertical-align: middle;
}

.nav ul li span.icon {
    margin-left: 10px;
}

li a:hover {
    color: #fff;
    background-color: rgb(46, 113, 212);
}

.submenu {
    background-color: #fff;
    position: absolute;
    left: 15px;
    box-shadow: 0 0 2px 2px gray;
    border-radius: 20px;
    z-index: 10;
    padding: 2em;
}

.submenu::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 0 2px 2px gray;
    transform: rotate(45deg);
}